@import 'constants'

.locations
  background-color: $mcolor1
  color: $lcolor1

  &_title
    color: $lcolor1

  &_layout
    margin-top: 50px
    display: flex
    flex-direction: column
    align-items: center
    gap: 40px
    padding: 0 20px 50px 20px

  &_img
    width: 95%
    max-width: 450px

  &_text
    & p
      margin: 20px 0
      max-width: 450px

    &_nor
      font-size: 1.4rem

    &_esp
      font-family: $second_font
      font-size: 1.8rem
      font-weight: 300

  &_fav
    &_wrapper
      display: flex
      justify-content: center
      padding: 0 30px

    &_img
      max-width: 400px

      & img
        width: 100%

    &_grid
      display: grid
      grid-template-areas: none
      gap: 30px
      padding: 20px
      margin: 20px 0 50px
      max-width: 1200px

@media (min-width: $desktop)
  .locations
    &_layout
      flex-direction: row-reverse
      justify-content: center

    &_fav
      &_img
        & img
          width: 100%
          height: 100%
          object-fit: cover

      &_grid
        grid-template-areas: "a a a b b b c c c" ".d d d .e e e ." "f f f g g g h h h" ".i i i .j j j ."

        &_1
          grid-area: a
        &_2
          grid-area: b
        &_3
          grid-area: c
        &_4
          grid-area: d
        &_5
          grid-area: e
        &_6
          grid-area: f
        &_7
          grid-area: g
        &_8
          grid-area: h
        &_9
          grid-area: i
        &_10
          grid-area: j
